<div class="container d-flex custom-centered">
  <span class="d-flex custom-centered">
    <h1> Savings Graph for: <%= @investment.name %></h1>
  </span>
</div>

<div class="container d-flex custom-centered graph-container">
<%= line_chart @chart_data.map { |entry| [entry[:name], entry[:data]] }, 
  height: "700px", 
  colors: ["#b00", "red"], 
  xtitle: "Month Number", ytitle: "Value (£)" %> </div>

<div class="custom-centered">
  <p>Your Total Contributions: £<%= @total_contribution %></p>
</div>

<div class="custom-centered">
  <p>Total Growth: £<%= @total_growth %></p>
</div>