<span class="ps-3">
  <h1 class="ps-3">Investment Calculator</h1>
  <h4 class="ps-3">Welcome to this investment calculator, you can add, edit, delete, and compare different investment journeys to see what your money can do for you!</h4><br>
</span>

<% if user_signed_in? %> 
  <div class="d-flex align-items-center justify-content-center">
    <span class="me-3"><%= button_to 'View Investment', investments_path, method: :get %></span>
  </div>

<% else %>
  <br>
  <p>Please sign in to view and edit investment paths.</p>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
