<div class="ps-3">
  <br>
  <h1 class="d-flex custom-centered">
    Welcome the Investment & Savings Calculator</h4><br>
</div>
<br>

<body>
  <div class="custom-centered">
    <h3>How to use this tool:</h3>
  </div>
  <div class="custom-centered">
      <ul>
        <li>From the top of the page, select "Add Investment", then create and save a savings journey.</li>
        <li>View this entry by selecting "View Saved Investments".</li>
        <li>You can edit the entry, or delete it from this page.</li>
        <li>Select "View Graph" to visualise this entry's growth over time.</li>
        <li>Select "Compare Entries" to see multiple entries at the same time.</li>
      </ul>
  </div>
</body>

<% if user_signed_in? %> 
  <div class="d-flex custom-centered">
    <%# <span class="me-3"><%= button_to 'View Saved Investments', investments_path, method: :get %></span>
    <%# <%= button_to 'Add Investment', add_investment_path, method: :get %>  
  </div>

<% else %>
  <br>
  <div class="d-flex custom-centered">
    <h4>Please sign in to begin:</h4>
  </div>

  <div class="d-flex custom-centered">
    <%= button_to "Sign in", new_user_session_path, class: "logout-button" %> 
  </div>
<% end %>
