<div class="ps-3">
  <h4 class="d-flex align-items-center justify-content-center">
    Welcome to this investment calculator!</h4><br>
  <h5 class="d-flex align-items-center justify-content-center">
    You can add, edit, delete, and compare different investment journeys to see what your money can do for you!</h5>
</div>
<br>

<% if user_signed_in? %> 
  <div class="d-flex align-items-center justify-content-center">
    <span class="me-3"><%= button_to 'View Saved Investments', investments_path, method: :get %></span>
    <%= button_to 'Add Investment', add_investment_path, method: :get %>  
  </div>

<% else %>
  <br>
  <p>Please sign in to view and edit investment paths.</p>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>
