<h1>Investment Calculator</h1>
<p>Welcome to this investment calculator, you can add, edit, delete, and compare different investment journeys to see what your money can do for you!</p>


  <% if user_signed_in? %> 
      <div> Signed in as <%= current_user.email %> </div> 
        <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
        <h1>Signed In</a>
        <% else %>
          <%= button_to "Sign in", new_user_session_path %> 
          <p>Not signed in</p>
        <% end %>
