<div class="ps-3">
  <br>
  <h1 class="d-flex custom-centered">
    Welcome to this Investment & Savings Calculator</h4><br>
</div>
<br>

<body>
  <div class="custom-centered">
    <h3>How to use this tool</h3>
  </div>
      <p>PLACEHOLDER TEXT</p>

</body>

<% if user_signed_in? %> 
  <div class="d-flex custom-centered">
    <%# <span class="me-3"><%= button_to 'View Saved Investments', investments_path, method: :get %></span>
    <%# <%= button_to 'Add Investment', add_investment_path, method: :get %>  
  </div>

<% else %>
  <br>
  <div class="d-flex custom-centered">
    <h3>Please sign in to view and edit investment paths.</h3>
  </div>

  <div class="d-flex custom-centered">
    <%= button_to "Sign in", new_user_session_path %> 
  </div>
<% end %>
